EXPO_PUBLIC_DYNAMIC_ENVIRONMENT_ID=your_dynamic_environment_id_here
EXPO_PUBLIC_MG_RAMP_KEY=ramps_pk_sbox_your_key_here
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
EXPO_PUBLIC_SOLANA_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
